:root{
    background-color:rgb(255, 230, 242)
}

.container{
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
/* google said to use pc sizing instead of pixels to get it centered correctly */
width: 50pc;
height: 30pc;
}


h1{
    text-align: center;
}

h2{
    font-size: x-large;
    text-align: center;
}

p{
    text-shadow: #F2638C;
    font-size: x-large;
}

button {
    display:inline-block;
    /* copied font from googlefonts */
    font-family: 'Sono', sans-serif;
    background-color: #F0B3DA;
    border-radius: 5px;
    padding: 12px;
    font-size: 10px;
    width:fit-content;
    margin-top: 5px;
}
button:hover {
    box-shadow: 5px 2px #F2638C
}
input{
    text-align:center;
}

#initals {
    margin: auto;
    height: 1.7rem;
}

#homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#highScore{
    height: 1.5rem;
    border-color:white;
    width:50%;
    padding-bottom: .3rem;
    border-bottom-style: groove;
}

#high-scorePage{
    border: solid;
    background:rgb(255, 230, 242);

}
#quiz {
    display: none;
}
#timer{
    text-align: center;
    font-size: larger;
    padding: 30px;
}
#gameover {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    text-shadow: #F2638C;
}



#endGameBtns{
    display: none;
    justify-content: center;
}